 <% include partials/header1.ejs %>
  <link rel="stylesheet" type="text/css" href="../css/novosti.css">
  <link rel="stylesheet" type="text/css" href="../css/shop.css">
<% include partials/nav.ejs %>


<style>



.cont th h1 {
	  font-weight: bold;
	  font-size: 1em;
   text-align: left;
   color: #185875;
}


.cont {
	   text-align: left;
	   overflow: hidden;
	    width: 70%;
	    margin: 0 auto;
     display: table;
     
}

.cont td, .cont th {
	  padding-bottom: 1%;
	  padding-top: 1%;
    padding-left:1.4%;  
}

.cont th {
	  background-color:#33BDE3;
}

.cont tr:hover {
   background-color: #464A52;
   -webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	   box-shadow: 0 6px 6px -6px #0E1119;
	   color:white;
}
.tablica{
  padding-top:100px;
}




</style>

<div class="col-md-12 tablica" >
<table class="cont">
	<thead>
		<tr>
			<th ><h1>Username</h1></th>
			<th><h1>E-mail</h1></th>
			<th><h1 >Admin</h1></th>
			<th><h1>Brisanje</h1></th>
		</tr>
	</thead>
	 <% korisnici.forEach(function(korisnik){ %>
	
	
	<tbody>
		<tr>
		<td> <%=korisnik.username%> </td>
        <td> <%=korisnik.email%> </td>
        <td> <%=korisnik.isAdmin%> 
         <%if(korisnik.isHeadAdmin == false){%>
        <form action="/korisnici/<%=korisnik._id%>" method="POST">
        <% if(korisnik.isAdmin == false){ %>
            <button type="submit" class="btn btn-success" name="isAdminBtn" value="true">Postavi za admina</button>
        <% } else{ %>
            <button type="submit" class="btn btn-warning" name="isAdminBtn" value="false">Skini admina</button>
        <% } %>
        
        </form>
        <% } %>
        <td>
             <%if(korisnik.isHeadAdmin == false){%>
             <form action="/korisnici/<%=korisnik._id%>?_method=DELETE" method="POST">
             <button type="submit" class="btn btn-danger"> Pobriši korisnika </button>
             </form>
             <% } %>
        </td>
		</tr>
	
	</tbody>
	<% }); %>

</table>
</div>
