<%- include partials/header1v2.ejs %>
     <link rel="stylesheet" type="text/css" href="../css/shop.css">
<%- include partials/nav.ejs %>

     

<section id="artikal">
         
                <div class="containerr">
                    <div class="row">
                        
                        <div class=" col-md-12">
                            <img class="slika" src="<%=novost.thumbnail%>" alt="lila"/>
                    
                        </div>
                         <div class=" col-md-8">
                          <div class="card-opis-artikla">
                                <h1 class="naslov-artikla-opem"><%=novost.naslov%></h1>
                               
                              <p>
                                  <%=novost.tekst%>
                             </p>
                                
                            
                            </div>
                        </div>
                        
                        <% if(currentUser){ if(currentUser.isAdmin == true){ %>
                           <div class=" col-md-8">
                        
                         
                              <a href="<%=novost._id%>/edit"><button type="button" class="btn btn-warning">Edituj post</button></a>
        
         <form action="/novosti/<%=novost._id%>?_method=DELETE" method="post">
             <button type="submit" class="btn btn-danger" >Pobriši post</button>
        </form>
                            
                            
                        </div>
                      <% }} %>
 
                         
                    </div>
                </div>
               
        </section>
        