<%- include partials/header1.ejs %>

    <link rel="stylesheet" type="text/css" href="css/shop.css">
<%- include partials/nav.ejs %>

   
        <section id="shop">
           
            <div class="container">
                   
                <div class="row">
                    
                  
                   
                     <%   artikli.forEach(function(artikl){%>
                        <div class=" col-md-4">
                          <a href="/shop/<%=artikl._id%>"> <img class="slika" src="<%- artikl.slika %>" alt="no image"/></a>
                            <div class="card">
                                <h1 class="naslov-artikla"><%- artikl.naziv %></h1>
                                <p class="cijena"><%- artikl.cijena %> €</p>
                                 <% if(currentUser){ %>
                                <button class="btn btn-kupi">Dodaj u košaricu</button>
                                <% } %>
                            </div>
                    
                        </div>
                                    <% }); %>
                                    
                        <% if(currentUser){ if(currentUser.isAdmin == true){%>
                        <div class=" col-md-4">
                          <a href="/shop/new"> <img class="slika" src="/images/addArtikl.png" alt="no image"/></a>
                            <div class="card">
                                <h1 class="naslov-artikla">DODAJ ARTIKL</h1>
                            </div>
                    
                        </div>
                          <% }} %>
                         
                    </div>
                </div>
        </section>
        
<%- include partials/footer.ejs %>     

