<%- include partials/header1.ejs %>
    <link rel="stylesheet" type="text/css" href="css/shop.css">
<%- include partials/header2.ejs %>

              <!-- O nama -->
        <section ID="O-NAMA">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <!-- O nama i opis-->
                       
                    </div>
                </div>
            </div>
                <div class="container">
                    <div class="row">
                        
                     <%   artikli.forEach(function(artikl){%>
                        <div class=" col-md-4">
                            <img class="slika" src="<%- artikl.slika %>" alt="laptop"/>
                            <div class="card">
                                <h1 class="naslov-artikla"><%- artikl.naziv %></h1>
                                <p class="cijena"><%- artikl.cijena %> €</p>
                                <button class="btn btn-kupi">Dodaj u košaricu</button>
                            
                            </div>
                    
                        </div>
                                    <% }) %>
                       
                         
                    </div>
                </div>
        </section>
        </header>
        
        <a href="/shop/new"> <button>Dodaj novi artikl</button></a>
<%- include partials/footer.ejs %>
