<%- include partials/header1.ejs %>

   



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
    <link href="/stylesheets/main.css" rel="stylesheet" />
    <!--<link href="/stylesheets/hoverEffectIdea/set1.css" rel="stylesheet" />
    <link href="/stylesheets/hoverEffectIdea/set2.css" rel="stylesheet" /-->
    <link href="/stylesheets/imagehover.min.css" rel="stylesheet" />
     <link rel="stylesheet" type="text/css" href="css/shop.css">
<div class="container mt-3 ">
    <div class="row justify-content-center">
        <div class="col-md-10 p-3" style="background:#71a4f7">
            <div class="d-inline" style="font-size:20px">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>  Košarica
            </div>
            <div class="d-inline float-right">
                <a href="/shop" class="btn btn-primary">SHOP</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10" style="border: 1px ridge #d1e2ff">
            <% if(products){ %>
            <% products.forEach(function(product){ %>       
            <div class="row">
                <div class="col-md-2">
                    <img class="img-thumbnail m-3" style="max-width:100px" src="<%= product.item.slika %>" alt="Card image cap">
                </div>
                <div class="col-md-5 my-auto">
                    <h5><%= product.item.naziv %></h5>
                     
                </div>
                <div class="col-md-5 form-inline justify-content-end btn-group">
                    <h5><%= product.item.cijena %> $</h5> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-info" href="/shop/<%= product.item._id %>/add" aria-label="add">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-secondary"  aria-label="">
                      Komada  <%= product.qty %> 
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-danger" href="/shop/<%= product.item._id %>/deleteone" aria-label="deleteOne">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="" href="/shop/<%= product.item._id %>/deleteitem"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
           <% }); %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10 p-3 form-inline justify-content-end" style="background:#ededed">
            <div class="" style="font-size:20px">
              Total:  <%= totalPrice %> $ 
            </div> &nbsp;&nbsp; &nbsp;&nbsp;
            <% }else{ %>
        <!--IF DONT HAVE ANYTHING IN CART-->
            <div class="p-5 text-center"> <strong>You don't have anything in cart. Add items!</strong></div>
            <% } %>
            <div class="">
                <a href="/shop/checkout" class="btn btn-success">Kupi</a>
            </div>
        </div>
    </div>
</div>
<%- include partials/footer.ejs %>