<%- include partials/header1.ejs %>

    <link rel="stylesheet" type="text/css" href="css/shop.css">
<%- include partials/nav.ejs %>

   
        <section id="shop">
           
            <div class="container">
                   
                <div class="row">
                    
                   <div class="col-md-12">
                       
                       <% if(currentUser){ %>
                          <a href="shop/new"><button class="btn btn-warning">Dodaj artikl</button></a>
                          <% } %>
                          
                   </div>
                   
                     <%   artikli.forEach(function(artikl){%>
                        <div class=" col-md-4">
                          <a href="/shop/<%=artikl._id%>"> <img class="slika" src="<%- artikl.slika %>" alt="laptop"/></a>
                            <div class="card">
                                <h1 class="naslov-artikla"><%- artikl.naziv %></h1>
                                <p class="cijena"><%- artikl.cijena %> €</p>
                                <button class="btn btn-kupi">Dodaj u košaricu</button>
                            
                            </div>
                    
                        </div>
                                    <% }) %>
                       
                         
                    </div>
                </div>
        </section>

